name: build

on:
  push:
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - name: setup uv
        uses: astral-sh/setup-uv@v4
      - name: install deps
        run: |
          sudo apt-get -y install fontforge python3-fontforge
          uv sync
      - name: check version
        run: |
          uv run python3 --version
          fontforge --version
      - name: build
        run: make
      - name: test
        run: make test
      - name: release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          draft: false
          files: |
            build/EAW-CONSOLE.ttc
            build/EAW-FULLWIDTH.ttc
